<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlTest" connectionString="Data Source=LocalHost; Initial Catalog=tempdb; Integrated Security=SSPI;"/>
    <add name="MinPermission" connectionString="Data Source=LocalHost; Initial Catalog=tempdb; User Id=MinimumPermission; Password=password"/>
    <add name="TestSchemaOwnerPermission" connectionString="Data Source=LocalHost; Initial Catalog=tempdb; User Id=TestSchemaOwner; Password=password"/>
    <add name="AdditionalDb" connectionString="Data Source=LocalHost; Initial Catalog=AdditionalDB; User Id=AdditionalDBUser; Password=password"/>
  </connectionStrings>
</configuration>